<ion-view>
    <ion-header-bar class="bar-calm" align-title="center">
    <img src="img/zz.png" style="border-radius:50%;width:20px;height:20px">
      <div class="title">联系人</div>
      <a class="button">添加</a>
</ion-header-bar>


<ion-content>
    <ion-refresher pulling-text="下拉刷新">
    </ion-refresher>
    <ion-list>
        <ion-item class="item-input">
            <label class="input-label">输入框</label>   
            <input type="text" placeholder="搜索">
        </ion-item>
    <ion-item class="icon ion-arrow-right-b">1</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">2</ion-item>
    <ion-item class="icon ion-arrow-right-b">1</ion-item>
    
    
</ion-list>
</ion-content>

</ion-view>
